/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans/open-sans-v29-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/open-sans/open-sans-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/open-sans/open-sans-v29-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/open-sans/open-sans-v29-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/open-sans/open-sans-v29-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/open-sans/open-sans-v29-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

* {
    font-family: 'Arial';
    content: "\f024";
}


html {
    height: 100%;
    background-color: #eef0eb;
}

body {
    margin: auto;
    max-width: 1024px;
    height: 100%;
    overflow: hidden;
    display: flex;
    /* enables flex content for its children */
    box-sizing: border-box;
    background-color: #f1f4f5;
}


.column {
    height: 100%;
    /* allows both columns to span the full height of the browser window */
    display: flex;
    flex-direction: column;
    /* stacks the left and right headers above the bottom content */
}

/* LEFT COLUMN */
#left {
    flex-shrink: 0;
    /* makes sure that content is not cut off in a smaller browser window */
    width: 200px;
    position: fixed;
    z-index: 1;
    background-color: #2b323a;
    height: 100%;
    overflow: auto;
}

/* LEFT COLUMN HEADER */
.top-left {
    flex-shrink: 0;
    font-size: 32px;
    text-align: center;
    background-color: #ea3200;
    height: 65px;
}

.top-left a {
    margin: auto;
    color: #fff;
    line-height: 65px;
    text-decoration: none;
    vertical-align: middle;
}


.bottom a {
    padding: 12px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #959ba0;
    display: block;
    content: "\f015";
    -webkit-font-smoothing: antialiased;
}

.bottom a:hover {
    color: #f1f1f1;
}


.bottom {
    flex-grow: 1;
    /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto;
    /* adds scroll to this container */
}

/* RIGHT COLUMN */
.top-right {
    padding-left: 200px;
    height: 65px;
    background-color: #fff;
    display: flex;
    margin-right: 0;
}

.top-right .nav {
    margin-left: auto;
}

/* RIGHT COLUMN HEADER */
.top-right a {
    margin: 0px 16px 0px 0px;
    line-height: 65px;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    color: #2b323a;
    -webkit-font-smoothing: antialiased;
}

.top-right a:hover {
    color: #ea3200;
}

/* RIGHT COLUMN BODY */
#right .bottom {
    padding-left: 200px;
}


.rounded-box {
    border-radius: 25px;
    background: #fff;
    padding: 20px;
    margin: 20px;
}


/* miscellaneous ---------------------------------------*/
svg {
    width: 24px;
    height: 24px;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.main-shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.icon,
.text {
    vertical-align: middle;
    display: inline-block;
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 33px solid transparent;
    border-left: 40px solid #ea3200;
    border-bottom: 33px solid transparent;
}